@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
header{
	background-color: #212121;
}

.carousel-caption{
	position: absolute;
	top: 20px;
	text-align: left;
}

.carousel-caption h1{
	color: #000000;
	text-transform: uppercase;
	font-size: 80px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.carousel-caption h2{
	color: #000000;
	font-size: 50px;
	font-family: Anton;
}

#intro{
	background-color: #000000;	
	padding: 10%;
}

#intro h4{
	text-align: center;
	color:#FFFFFF;
	font-size: 40px;
}

#intro p{
	text-align: center;
	font-size: 15px;
	color: #C8C2C2;
}

.events{
	text-align: center;
	font-size: 30px;
	background-color: transparent;
	color: #C8C2C2;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;
}

#gallery{
	background-color: #000000;	
	
}

#gallery h4{
	text-align: center;
	color:#FFFFFF;
	font-size: 40px;
}

#gallery p{
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

#gang{
	background-color: #000000;	
	padding: 5%;
}

#gang h4{
	text-align: center;
	color:#FFFFFF;
	font-size: 40px;
}

#gang h5{
	text-align: center;
	color:#FFFFFF;
	font-size: 22px;
}

#gang h6{
	text-align: center;
	color:#FFFFFF;
	font-size: 15px;
}


#gang p{
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
}

.icon{
	color: #B95806;
	font-size: 35px;
}

.center{
	text-align: center;
}

footer{
	background-color: #000;
	color: #acbad4;
	padding: 30px 0;
	text-align: center;
	font-size: 13px;
}
